.button{

    font-weight: 600;
    background-color: #7e22ce ;
    padding: 0.5rem;
    padding-left: 0.75rem ;
    padding-right: 0.75rem;
    color: white;
    border: none;
    border-radius: 0.75rem ;
}

.button:hover{
  background-color: #e9d5ff  ;
  color: #7e22ce;
}


